@import 'https://fonts.googleapis.com/css?family=Lobster';
@import 'https://fonts.googleapis.com/css?family=Ribeye';
@import 'https://fonts.googleapis.com/css?family=Comfortaa';

/*
OFF-WHITE - #f4ece1
PINK - #cc007a
BLACK - #000000
GREY - #575757
MODAL PINK - #db4ca1
*/


body {
	padding: 0;
	margin: 0;
	font-family: 'Comfortaa', cursive;
	background: url('./images/chalkboard1.jpg') no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

a {
	color: #f4ece1;
}

a:hover {
	color: #f4ece1;
}
.pageview {
	margin-top: 190px;
}

/*NAVBAR STYLING*/

.navbar {
	background-image: url("./images/chalkboard.jpg");
	width: 100%;
	position: fixed;
	border: 2px solid pink;
	z-index: 1;
}

.characterImg {
	margin-left: 10px;
	width: 150px;
}

.peoplemap {
	
	border: 2px solid antiquewhite;
	float: right;
	margin-top: 35px;
	height: 70px;
	width: 70px;
	background: lightslategrey;
	border-radius: 2px;
}

.peoplemaptext {
	color: antiquewhite;
	padding: auto;
}

.navtext {
	font-size: 1.4em;
	padding-left: 6px;
	padding-right: 6px;
	border-radius: 2px;
	margin-top: -2px;
	border: 2px solid antiquewhite;
	background: grey;
	color: antiquewhite;
}

.profilepic {
	margin-top: 10px;
	margin-bottom: 10px;
	height: 100px;
	width: 100px;
	border: 2px solid #db4ca1;
	border-radius: 100%;
	background: grey;
	float: right;
}

.drpdwn {
	text-align: right;
	background: grey;
	opacity: .9;	
}

.navlink {
	color: antiquewhite;
	font-size: 1.2em;
}


/* LOGIN PAGE STYLING */

.login_body {
	text-align: center; 
	width: 100%;
	margin: 0;
	padding: 0;
}

.gs_login_banner {
	font-family: Lobster;
	color: #cc007a;
	font-size: 75px;
	padding-top: 200px;
	padding-bottom: 40px;
	text-shadow: 2px 2px #f4ece1;

}

.login_button {
	background-color: #cc007a;
	border: solid 1px #cc007a;
	border-radius: 3px;
	padding: 10px;
	opacity: 0.7;
}

.login_button:hover {
	opacity: 0.5;
	transition: 0.2;
}

.login_link {
	color: #f4ece1;
}

.login_link:hover {
	text-decoration: none !important;
	color: #f4ece1;
}

/* PROFILE PAGE STYLING */

.profile_header {
	height: 200px;
}

.profile_form_headings {
	color: #00000;
}

.modal_col {
	background-color: #CDD0D1;
	height: 320px;
	width: 320px;
	border: 6px solid #cc007a;
	margin: 15px;
	background-size: 320px, 320px;
	position: relative; 
	padding-top: 110px;
}

.emp_input {
	width: 560px;
}

.pic_col {
	padding-right: 0px;
	padding-left: 0px;
}

.employee_pic {
	height: 320px;
	width: 320px;
	border: 6px solid #cc007a;
	margin: 15px;
	background-image: url('./images/linkedin.jpg');
	background-repeat: none;
	background-size: 320px, 320px;
	position: relative; 	
}

#default_display {
	display: block;
}

/* HOVER ON PROFILE */
.profile_hover_replacement {
	text-align: center;
	background-color: #f4ece1;
	height: 100%;
	width: 100%;
	border: 6px solid #cc007a;
	margin: 0;
	background-size: 320px, 320px;
	position: absolute;
	opacity: 0.8;
	top: 0;
	left: 0;
	cursor: pointer;
}

.profile_name {
	font-family: Lobster;
	font-size: 24px;
	color: #cc007a;
	padding-top: 45px;
}

.profile_details:first-of-type {
	padding-top: 50px;
}

.profile_details {
	line-height: 2px;
	font-weight: bold;
	font-size: 18px;
}

/* WORK FEED STYLING */

.navbarstuff {
	height: 100px;
	color: #f4ece1;
}

.feed_work_body {
	width: 100%;
	height: 830px;
}

.feed_gen_body {
	width: 100%;
	height: 830px;
}

/* STYLING ON WORK ANNOUNCEMENT BUBBLE*/

.workfeed_scroll {
	overflow: scroll;
	height: 710px;
	width: 100%;
	position: fixed;
}

.genfeed_scroll {
	overflow: scroll;
	height: 710px;
	width: 100%;
	position: fixed;
}

.announce_modal {
	width: 100%;
	border-radius: 3px;
}


.m_title {
	font-family: Comfortaa;
	font-weight: bold;
}

.m_header {
	background-color: #db4ca1;
}

.m_footer {
	background-color: #D3D3D3;
}

.announcement_bubble {
	border: 2px solid #f4ece1;
	border-radius: 4px;
	background-color: #f4ece1;
	min-height: 160px;
	width: 500px;
	margin-top: 10px;
	margin-bottom: 10px;
	opacity: 0.9;
}

.add_announce {
	color: #cc007a;
	font-size: 60px;
	text-align: center;
	
	text-shadow: 1px 1px #f4ece1;
	padding-bottom: 20px;
}

.gen_announcement_bubble {
	border: 2px solid #cc007a;
	border-radius: 4px;
	background-color: #cc007a;
	height: 160px;
	width: 500px;
	margin-top: 10px;
	margin-bottom: 10px;
	opacity: 0.9;
	z-index: -1;
}

.announce_subject {
	padding-left: 10px;
	color: #cc007a;

}

.gen_announce_subject {
	padding-left: 10px;
	color: #f4ece1;
}

.announce_text {
	width: 100%;
	border: solid 1px #f4ece1;
	padding-left: 10px;
	background-color: white;
	border-radius: 3px;
	padding-bottom: 10px;
}

.announce_importance {
	font-size: 24px;
	color: #cc007a;
	text-align: center;
}

.gen_announce_importance {
	font-size: 24px;
	color: #000000;
	text-align: center;
}

.comment_box {
	padding-top: 0px;
	padding-right: 0px;
}

 .comment_text {
 	color: black;
 }

 .post_comment {
 	border-radius: 3px;
 	padding-left: 5px;
 	padding-right: 5px;
 	font-size: 12px;
 	max-height:35px;
 	line-height: 12px
 }

.announce_comment {
	height: 35px;
	border-radius: 3px;
	border: 1px solid white;
	width: 100%;
}

.importance_score {
	font-size: 14px;
	color: #000000;
}

.gen_toggle {
	height: 300px;
	width: 35px;
	background-color: #cc007a;
	color: #f4ece1 ; 
	text-align: center;
	left: 0;
	top: 250px;
	border: 1px solid #cc007a;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	position: fixed;
}

.vertical_text {
	-moz-transform: rotate(270deg);  /* FF3.5+ */
    -o-transform: rotate(270deg);  /* Opera 10.5 */
    -webkit-transform: rotate(-90deg);  /* Saf3.1+, Chrome */
    -moz-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
}

.vertical2 {
    position: fixed;
    background-color: #cc007a;
    padding: 10px;
    border-radius: 0 0 7px 7px;
    left:-200px;
    top:300px;
    font-size: 13px;
    color: #f4ece1;
    -moz-transform: rotate(270deg);  /* FF3.5+ */
    -o-transform: rotate(270deg);  /* Opera 10.5 */
    -webkit-transform: rotate(-90deg);  /* Saf3.1+, Chrome */
    -moz-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
} 

.gen_announce_vertical {
	position: fixed;
    background-color: #cc007a;
    padding: 10px;
    border-radius: 0 0 7px 7px;
    left:-176px;
    top:300px;
    font-size: 13px;
    color: #f4ece1;
    -moz-transform: rotate(270deg);  /* FF3.5+ */
    -o-transform: rotate(270deg);  /* Opera 10.5 */
    -webkit-transform: rotate(-90deg);  /* Saf3.1+, Chrome */
    -moz-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
}


/*STYLING ON DETAILS OF PERSON POSTING ANNOUNCEMENT ON FEED */

.poster_id {
	padding-top: 10px;
	max-width: 150px;
	color: #f4ece1;
	text-align: center;
}


.poster_pic {
	height: 75px;
	width: 75px;
	border: solid 4px #cc007a;
	border-radius: 100%;
	margin: auto;
	overflow: hidden;
}

.posterimg {
	height: 100%;
	width: 100%;
}

.poster_name {
	font-family: Lobster;
	font-size: 20px;
	font-weight: bold;
}

/* ADMIN PAGE STYLING */

.admin_header {
	font-family: Lobster;
	font-size: 55px;
	text-shadow: #f4ece1 2px 2px;
	color: #cc007a;
	padding-top: 30px;
	text-align: center;
	padding-bottom: 20px;
}

.form_head {
	color: #cc007a;
}

.form_headings {
	color: #f4ece1;
	font-size: 18px;
}

.employee_happiness {
	font-size: 24px;
	color: #f4ece1;
}

.happiness_score {
	font-family: Lobster;
	font-size: 35px;
	color: #cc007a;
	text-shadow: #f4ece1 2px 2px;
}

.happiness_div {
	padding-top: 15px;
}

#img_upload {
	color: #f4ece1;
}


