@import 'https://fonts.googleapis.com/css?family=Lobster';
@import 'https://fonts.googleapis.com/css?family=Ribeye';
@import 'https://fonts.googleapis.com/css?family=Comfortaa';

/*OFF-WHITE - #f4ece1
PINK - #cc007a
BLACK - #000000
GREY - #575757*/

body {
	width: 100%;
}

/* LOGIN PAGE STYLING */

.login_body {
	text-align: center; 
	background-image: url('./images/chalkboard1.jpg');
	background-repeat: cover; 
	width: 100%;
	/*THIS IS NOT THE  MOST EFFICIENT WAY TO BACKGROUND TO FIT PAGE*/
	height: 828px;
	margin: 0;
	padding: 0;
}

.gs_login_banner {
	font-family: Lobster;
	color: #cc007a;
	font-size: 75px;
	padding-top: 200px;
	padding-bottom: 40px;
	text-shadow: 2px 2px #f4ece1;

}

.login_button {
	background-color: #cc007a;
	border: solid 1px #cc007a;
	border-radius: 3px;
	font-family: Comfortaa;
	padding: 10px;
	opacity: 0.7;
}

.login_button:hover {
	opacity: 0.5;
	transition: 0.2;
}

.login_link {
	color: #f4ece1;
}

.login_link:hover {
	text-decoration: none !important;
	color: #f4ece1;
}

/* PROFILE PAGE STYLING */

/* FOR SOME REASON THIS PIC_COL CLASS IS NOT PULLING THROUGH, DON'T KNOW WHY. NEED TO FIGURE OUT */
.profile_body {
	background-image: url('./images/chalkboard1.jpg');
}

.profile_header {
	height: 200px;
}

.pic_col {
	padding-right: 0px;
	padding-left: 0px;
}

.employee_pic {
	height: 320px;
	width: 320px;
	border: 6px solid #cc007a;
	margin: 15px;
	background-image: url('./images/linkedin.jpg');
	background-repeat: none;
	background-size: 320px, 320px;
	transition: 0.3;
}

/* HOVER ON PROFILE */
.profile_hover_replacement {
	text-align: center;
	background-color: #f4ece1;
	height: 320px;
	width: 320px;
	border: 6px solid #cc007a;
	margin: 15px;
	/*background-image: url('./images/linkedin.jpg');*/
	background-repeat: none;
	background-size: 320px, 320px;
	transition: 0.3;
	visibility: visible;
}

.profile_hover_replacement {
	visibility: visible;
	cursor: pointer;
}

.profile_name {
	font-family: Lobster;
	font-size: 24px;
	color: #cc007a;
	padding-top: 45px;
}

.profile_details:first-of-type {
	padding-top: 50px;
}

.profile_details {
	line-height: 2px;
	font-weight: bold;
	font-family: Comfortaa;
	font-size: 18px;
}

/* WORK FEED STYLING */

.navbarstuff {
	height: 200px;
	color: #f4ece1;
}

.feed_work_body {
	background-image: url('./images/chalkboard1.jpg');
	width: 100%;
	height: 830px;
}

.announcement_bubble {
	border: 2px solid #f4ece1;
	border-radius: 4px;
	background-color: #f4ece1;
	height: 100px;
	width: 500px;
}