<div class="row">
	<div class="col-md-12 admin_body">
		<div class="admin_header"> 
			<p> hey admin! </p>
		</div>
		<div class="form_container">
			<div class="row">
				<div class="col-md-4 col-md-offset-4 checkout_user">
					<h2 class="form_head"> Edit &amp; View  </h2>
					<div class="col-md-12">
						<h5 class="form_headings"> Remove Employee </h5>
						<select class="emp_input" type="text" placeholder="select employee name"> 
							<option> select employee </option>
							<option> </option>
						</select>
						<br> 
						<br>
						<button class="login_button"><a class="login_link" href="#"> Remove </a></button>
					</div>

					<div class="col-md-12 happiness_div">
						<h5 class="form_headings"> View Employee Happiness </h5>
						<select class="emp_input" type="text" placeholder="select employee name"> 
							<option> select employee </option>
							<option> </option>
						</select>
						<br> 
						<br>
						<p class="employee_happiness"> Your selected employee's happiness score is ... <span class="happiness_score"> ? </span></p>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
