<!DOCTYPE html>
<html>
<head>
	<title>General Discussions</title>
	<link rel="stylesheet" href="../stylesheet.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>

<div class="container-fluid feed_work_body"> 

<!--THIS IS WHERE THE NAV BAR STUFF GOES-->
	<div class="navbarstuff">
		Navbarstuff goes here

	</div>

<!-- MICHAEL, DON'T ADD CODE BELOW THIS FOR NOW, PLEASE -->


<!-- MICHAEL, DON'T ADD CODE BELOW THIS FOR NOW, PLEASE -->

<div class="container-fluid workfeed_scroll">	

	<div class="row">
	
		<div class="col-md-6 col-md-offset-3 gen_announcement_bubble">
			<div class="col-md-12"> 
				<h4 class="announce_subject"> Announcement Subject</h4>
				<textarea class="announce_text"> </textarea>
			</div>
			<div class="col-md-1 gen_announce_importance"> <p> &hearts; </p> </div>
			<div class="col-md-11 comment_box">
				<input class="announce_comment" type="text" placeholder="   Comment...">
			</div>
		</div>
		<div class="col-md-3 poster_id">
				<div class="poster_pic"><img class="posterimg" src="../images/linkedin.jpg"/> </div>
				<div class="poster_name"> Stella Pickard </div>
				<div class="post_time"> 12 March 2016 &bull; 14h23</div>
		</div>
	</div>


	<div class="row">
		<div class="col-md-6 col-md-offset-3 gen_announcement_bubble">
			<div class="col-md-12"> 
				<h4 class="announce_subject"> Announcement Subject</h4>
				<textarea class="announce_text"> </textarea>
			</div>
			<div class="col-md-1 gen_announce_importance"> <p> &hearts; </p> </div>
			<div class="col-md-11 comment_box">
				<input class="announce_comment" type="text" placeholder="   Comment...">
			</div>
		</div>
		<div class="col-md-3 poster_id">
				<div class="poster_pic"><img class="posterimg" src="../images/linkedin.jpg"/> </div>
				<div class="poster_name"> Stella Pickard </div>
				<div class="post_time"> 12 March 2016 &bull; 14h23</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-6 col-md-offset-3 gen_announcement_bubble">
			<div class="col-md-12"> 
				<h4 class="announce_subject"> Announcement Subject</h4>
				<textarea class="announce_text"> </textarea>
			</div>
			<div class="col-md-1 gen_announce_importance"> <p> &hearts; </p> </div>
			<div class="col-md-11 comment_box">
				<input class="announce_comment" type="text" placeholder="   Comment...">
			</div>
		</div>
		<div class="col-md-3 poster_id">
				<div class="poster_pic"><img class="posterimg" src="../images/linkedin.jpg"/> </div>
				<div class="poster_name"> Stella Pickard </div>
				<div class="post_time"> 12 March 2016 &bull; 14h23</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 col-md-offset-3 gen_announcement_bubble">
			<div class="col-md-12"> 
				<h4 class="announce_subject"> Announcement Subject</h4>
				<textarea class="announce_text"> </textarea>
			</div>
			<div class="col-md-1 gen_announce_importance"> <p> &hearts; </p> </div>
			<div class="col-md-11 comment_box">
				<input class="announce_comment" type="text" placeholder="   Comment...">
			</div>
		</div>
		<div class="col-md-3 poster_id">
				<div class="poster_pic"><img class="posterimg" src="../images/linkedin.jpg"/> </div>
				<div class="poster_name"> Stella Pickard </div>
				<div class="post_time"> 12 March 2016 &bull; 14h23</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 col-md-offset-3 gen_announcement_bubble">
			<div class="col-md-12"> 
				<h4 class="announce_subject"> Announcement Subject</h4>
				<textarea class="announce_text"> </textarea>
			</div>
			<div class="col-md-1 gen_announce_importance"> <p> &hearts; </p> </div>
			<div class="col-md-11 comment_box">
				<input class="announce_comment" type="text" placeholder="   Comment...">
			</div>
		</div>
		<div class="col-md-3 poster_id">
				<div class="poster_pic"><img class="posterimg" src="../images/linkedin.jpg"/> </div>
				<div class="poster_name"> Stella Pickard </div>
				<div class="post_time"> 12 March 2016 &bull; 14h23</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 col-md-offset-3 gen_announcement_bubble">
			<div class="col-md-12"> 
				<h4 class="announce_subject"> Announcement Subject</h4>
				<textarea class="announce_text"> </textarea>
			</div>
			<div class="col-md-1 gen_announce_importance"> <p> &hearts; </p> </div>
			<div class="col-md-11 comment_box">
				<input class="announce_comment" type="text" placeholder="   Comment...">
			</div>
		</div>
		<div class="col-md-3 poster_id">
				<div class="poster_pic"><img class="posterimg" src="../images/linkedin.jpg"/> </div>
				<div class="poster_name"> Stella Pickard </div>
				<div class="post_time"> 12 March 2016 &bull; 14h23</div>
		</div>
	</div>

</div>


</body>
</html>