<!DOCTYPE html>
<html>
<head>
	<title>Employee Login</title>
	<link rel="stylesheet" href="../stylesheet.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
	<div class="container login_body" ng-controller="login_control" ng-view>
		<div class="col-xs-12 login_content">
			<p class="gs_login_banner"> Get Smarter </p>
			<button class="login_button"><a class="login_link" href="#"> Log in with Google </a></button> 
		</div>
		

	</div>
</body>
</html>