<!DOCTYPE html>
<html>
<head>
	<title> Employee Profiles | Get Smarter</title>
	<link rel="stylesheet" href="../stylesheet.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
	<div class="container profile_body" ng-controller="profile_control" ng-view>
		<div class="row">
			<div class="col-md-3 employee_pic"></div>
			<div class="col-md-3 employee_pic"></div>
			<div class="col-md-3 employee_pic"></div>
			<div class="col-md-3 employee_pic"></div>
		</div>
		<div class="row">
			<div class="col-md-3 employee_pic"></div>
			<div class="col-md-3 employee_pic"></div>
			<div class="col-md-3 employee_pic"></div>
			<div class="col-md-3 employee_pic"></div>
		</div>
		<div class="row">
			<div class="col-md-3 employee_pic"></div>
			<div class="col-md-3 employee_pic"></div>
			<div class="col-md-3 employee_pic"></div>
			<div class="col-md-3 employee_pic"></div>
		</div>
		<div class="row">
			<div class="col-md-3 employee_pic"></div>
			<div class="col-md-3 employee_pic"></div>
			<div class="col-md-3 employee_pic"></div>
			<div class="col-md-3 employee_pic"></div>
		</div>
		
	</div>
</body>
</html>