	<div class="container-fluid main" ng-controller="profile_control" ng-view>
		<div class="row">
			<div class="col-md-12 profile_header"></div>
		</div>

		<div class="row">
			<div class="col-md-3 pic_col">
				<div class="employee_pic default_display">
					<div class="profile_hover_replacement hover_display" style="display:none">
						<h1 class="profile_name"> Stella Pickard </h1>
						<p class="profile_details"> Web Developer </p><br>
						<p class="profile_details"> 10 March </p><br> 
						<p class="profile_details"> Obsessed with mountainbiking! </p>
					</div>
				</div>
				<!-- HOVER EFFECT OVER PROFILE IMAGE -->
				
			</div>
			<div class="col-md-3 pic_col">
				<div class="employee_pic"></div>
			</div>
			<div class="col-md-3 pic_col">
				<div class="employee_pic"></div>
			</div>
			<div class="col-md-3 pic_col">
				<div class="employee_pic"></div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-3 pic_col">
				<div class="employee_pic"></div>
			</div>
			<div class="col-md-3 pic_col">
				<div class="employee_pic"></div>
			</div>
			<div class="col-md-3 pic_col">
				<div class="employee_pic"></div>
			</div>
			<div class="col-md-3 pic_col">
				<div class="employee_pic"></div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3 pic_col">
				<div class="employee_pic"></div>
			</div>
			<div class="col-md-3 pic_col">
				<div class="employee_pic"></div>
			</div>
			<div class="col-md-3 pic_col">
				<div class="employee_pic"></div>
			</div>
			<div class="col-md-3 pic_col">
				<div class="employee_pic"></div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3 pic_col">
				<div class="employee_pic"></div>
			</div>
			<div class="col-md-3 pic_col">
				<div class="employee_pic"></div>
			</div>
			<div class="col-md-3 pic_col">
				<div class="employee_pic"></div>
			</div>
			<div class="col-md-3 pic_col">
				<div class="employee_pic"></div>
			</div>
		</div>

		
	</div>
