<!DOCTYPE html>
<html>
<head>
	<title> Employee Profiles | Get Smarter</title>
	<link rel="stylesheet" href="../stylesheet.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script src="../script.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="profile_body" id="main">


<!-- MICHAEL, DON'T ADD CODE BELOW THIS FOR NOW, PLEASE..... wapDivs('default_display','hover_display') -->
	<div class="container-fluid" ng-controller="profile_control" ng-view>
		<div class="row">
			<div class="col-md-12 profile_header"></div>
		</div>

		<div class="row">
			<div class="col-md-3 pic_col">
				<div class="employee_pic default_display">
					<div class="profile_hover_replacement hover_display" style="display:none">
						<h1 class="profile_name"> Stella Pickard </h1>
						<p class="profile_details"> Web Developer </p><br>
						<p class="profile_details"> 10 March </p><br> 
						<p class="profile_details"> Obsessed with mountainbiking! </p>
					</div>
				</div>
					<!-- HOVER EFFECT OVER PROFILE IMAGE -->
				
			</div>
			<div class="col-md-3 pic_col">
				<div class="employee_pic"></div>
			</div>
			<div class="col-md-3 pic_col">
				<div class="employee_pic"></div>
			</div>
			<div class="col-md-3 pic_col">
				<div class="employee_pic"></div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-3 pic_col">
				<div class="employee_pic"></div>
			</div>
			<div class="col-md-3 pic_col">
				<div class="employee_pic"></div>
			</div>
			<div class="col-md-3 pic_col">
				<div class="employee_pic"></div>
			</div>
			<div class="col-md-3 pic_col">
				<div class="employee_pic"></div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3 pic_col">
				<div class="employee_pic"></div>
			</div>
			<div class="col-md-3 pic_col">
				<div class="employee_pic"></div>
			</div>
			<div class="col-md-3 pic_col">
				<div class="employee_pic"></div>
			</div>
			<div class="col-md-3 pic_col">
				<div class="employee_pic"></div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3 pic_col">
				<div class="employee_pic"></div>
			</div>
			<div class="col-md-3 pic_col">
				<div class="employee_pic"></div>
			</div>
			<div class="col-md-3 pic_col">
				<div class="employee_pic"></div>
			</div>
			<div class="col-md-3 pic_col">
				<div class="employee_pic"></div>
			</div>
		</div>

		
	</div>
</body>
</html>